body {
  font-family: 'Open Sans', sans-serif;

}

header {
  height: 25vh;
  width: 100vw;
  border: 1px solid;
  background-color: #3a5998
}

header a {
  display: inline-block;
  float: right;
  color: white;
  font-size: 1.2rem;
  margin-right: 40px;
}

nav {
 margin-top: 110px;
 color: white;
 display: inline-block;
 float: left;
}

.hidden__menu {
  display: none;
}

.logo__container {
  right: 0;
  margin-top: 107px;
  display: inline-block;
  height: 50px;
  width: 312px;
  float: right;
  position: absolute;
}

.logo__container h1 {
  float: right;
  margin:0;
  display:inline-block;
  font-family: 'PT Serif', serif;
  font-size: 2.3rem;
  color: white;
}

.logo {
  float: right;
  width:40px;
  display:inline-block;
  margin-right:40px;
}

.admin-icon {
  width:28px;
  margin-right: 10px;
}

nav ul li{
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 5vw;
  text-transform: uppercase;
}

nav ul {
  float:left;
  margin-top:.5%;
}

li img {
  height: 24px;
  margin-right: 10px
}

main {
  width: 100vw;
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: grey
}
.page__name {
  width: 100vw;
}

.page__name h1 {
  font-size: 3rem;
  margin-left: 20px;
}

.card {
  height: 450px;
  width: 330px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgb(48, 47, 47);
}

.card__top {
  width: 330px;
  height: 160px;
  border: 1px solid black;
  overflow: hidden;
  background-color:black;
}

.views {
  float: right;
  margin-right: 12px
}

.views h3 {
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
}

.views p {
  margin-top: 4px;
  font-size: 2.4rem;
  color: white;
}

.arrow__icon {
  width: 70px;
  margin: 13px 0 0 13px;
}

.background__img {
  position: absolute;
  height: 22%;
}

.card__content {
  margin-left: 10px;
}

.link {
  background-color: lightgrey;
  width: 96%;
  padding: 10px 0 15px 7px;
  margin-top: 20px;
}

/* Text and fonts */

h2 {
 font-size: 20px;
 margin: 10px 0 0 0;
}

time {
  font-size: 1rem;
  color: gray;
}

.link a {
  text-decoration: none;
  color: gray;
  font-size: .9rem;

}

h3 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.playlist {
  font-size: 1.3rem;
  line-height: 100%;
  margin: 0;
}

.att__num {
 margin-top: 4px;
 font-size: 2.4rem;
}
